<span class="top-section">Enter your first name: <input type="text" #firstName (keyup.enter)="guessInfoClick(firstName.value)"/></span>
<button (click)="guessInfoClick(firstName.value)">Guess info</button>
<br>
<div *ngIf="displayName">
  <h4>For {{ displayName }}...</h4>
  <p *ngIf="age">Guessed age: {{ age }}</p>
  <p *ngIf="gender">Guessed gender: <span class="title-case">{{ gender }}</span></p>
  <p *ngIf="nationalities && nationalities.length">Guessed nationality: 
    <span *ngIf="nationalities[0]">{{ nationalities[0] }}</span>
    <span *ngIf="nationalities[1]"> OR {{ nationalities[1] }}</span>
    <span *ngIf="nationalities[2]"> OR {{ nationalities[2] }}</span>
  </p>
</div>
<router-outlet></router-outlet>